<link rel="stylesheet" href="../css/footer.css">
<footer>
    <p>&copy; <%= new Date().getFullYear() %> LegacyLink. This work is licensed under a <a href="https://opensource.org/licenses/MIT" target="_blank">MIT License</a>.</p>
    <nav>
        <ul>
            <li><a href="/terms" target="_blank">Terms of Service</a></li>
            <li><a href="/privacy" target="_blank">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>