<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password | LegacyLink</title>
    <!-- Include CSS styles -->
    <link rel="stylesheet" href="../css/forgot_password.css">
</head>

<body>
    <%- include('header') %>
    <div id="forgot-password-error">
        <!-- Error message will be displayed here -->
        <% if (typeof error != 'undefined') { %>
            <div class="error">
                <%= error %>
            </div>
        <% } %>
    </div>
    <form id="forgot-password-form" action="/auth/forgot_password" method="POST">
        <input type="email" id="email" name="email" placeholder="Email" required>
        <button id="forgot-password-button" type="submit">Reset Password</button>
    </form>
    <div class="extra-links">
        <a href="login">Login</a> | <a href="registration">Register</a>
    </div>
    
    <%- include('footer') %>
</body>