<div class="development-banner">
    This application is under development and available for demo and testing purposes only.
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/header.css">
<header>
    <nav>
        <div class="branding">
            <a href="/">
                <img src="../images/logo.png" alt="LegacyLink Logo" height="50">
                <!-- <h1>LegacyLink</h1> -->
            </a>
        </div>
    </nav>
</header>