<!DOCTYPE html>
<html>

<head>
    <title>LegacyLink</title>
    <link rel="stylesheet" href="../css/profile.css">
    <script>
        async function retrieveMsgs() {
            let password;
            let response;
            do {
                password = prompt("Please enter your password:");
                response = await fetch('/auth/retrieve_msgs', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ username: "<%= user.username %>", password: password }),
                });
                if (response.status !== 200) {
                    alert("Incorrect password. Please try again.");
                }
            } while (response.status !== 200);
            let data = await response.json();
            let msgs = data.msgs;
            let ul = document.getElementById('user-msgs');
            msgs.forEach(msg => {
                let li = document.createElement('li');
                li.textContent = `${msg.name}: ${msg.message}`;
                ul.appendChild(li);
            });
        }
    </script>
</head>

<body onload="retrieveMsgs()">
    <%- include('header') %>
    
    <h1>Profile of <%= user.username %>
    </h1>
    <ul id="user-msgs"></ul>

    <%- include('footer') %>
</body>

</html>