<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration | LegacyLink</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <%- include('header') %> <!-- Include the header -->

    <form id="registration-form">
        <input type="text" id="username" placeholder="Username" required>
        <input type="email" id="email" placeholder="Email" required>
        <input type="password" id="password" placeholder="Password" required>
        <button id="register-button" type="submit">Register</button>
    </form>

    <div class="extra-links">
        <a href="login">Already have an account? Login</a>
    </div>

    <script>
        document.getElementById('registration-form').addEventListener('submit', async (event) => {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            try {
                const response = await fetch('/auth/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ username, email, password })
                });
                if (!response.ok) {
                    throw new Error('Registration failed');
                }
                alert('Registration successful');
                // Redirect to login page or dashboard
                window.location.href = '/login'; // Redirect to login page
            } catch (error) {
                console.error('Registration error:', error);
                alert('Registration failed');
            }
        });
    </script>

</body>

</html>