<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password | LegacyLink</title>
    <!-- Include CSS styles -->
    <link rel="stylesheet" href="../css/reset_password.css">
</head>

<body>
    <%- include('header') %> <!-- Include the header -->
    <form id="reset-password-form" action="/auth/reset_password" method="POST">
        <span class="form-title">Reset Password</span>
        <br><br>
        <input type="password" name="password" id="password" placeholder="New Password" required>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required>
        <input type="hidden" name="email" value="<%= email %>">
        <button id="reset-password-button" type="submit">Reset Password</button>
    </form>
    <div class="extra-links">
        <a href="login">Login</a> | <a href="registration">Register</a>
    </div>
    <script>
        // Include the script from the verify_user.ejs file
        const resetPasswordForm = document.getElementById('reset-password-form');
        resetPasswordForm.addEventListener('submit', (event) => {
            event.preventDefault();
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;
            if (password !== confirmPassword) {
                alert('Passwords do not match!');
            } else {
                resetPasswordForm.submit();
            }
        });
    </script>
</body>
