<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify | LegacyLink</title>
    <!-- Include CSS styles -->
    <link rel="stylesheet" href="../css/verify_user.css">
</head>

<body>
    <%- include('header') %> <!-- Include the header -->
    <div id="verify-user-error">
        <!-- Error message will be displayed here -->
        <% if (typeof error != 'undefined') { %>
            <div class="error">
                <%= error %>
            </div>
        <% } %>
    </div>
    <form id="verify-form" action="/auth/verify_user" method="POST">

        <span class="form-title">An email with the Verification Code has been sent to your email address.</span>
        <br><br>
        <input type="text" name="verification_code" id="verification_code" placeholder="Verification Code" required>
        <input type="hidden" name="email" value="<%= email %>">       
        <button id="verify-button" type="submit">Verify</button>
    </form>
    <div class="extra-links">
        <a href="login">Login</a> | <a href="registration">Register</a>
    </div>
