/* Reset default styles */
body,
h1,
p,
form,
input,
button {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    flex: 1;
    /* This ensures that the main content expands to fill the viewport, pushing the footer down */
}

/* Form container */
form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
}

/* Form input styles */
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Form button styles */
button {
    width: 100%;
    padding: 10px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 15px;
    /* Add margin at the bottom */
}

button#login-button {
    background-color: #007bff;
    /* Blue color for login button */
}

button#register-button {
    background-color: #28a745;
    /* Green color for register button */
}

button#forgot-password-button {
    background-color: #ffc107;
    /* Yellow color for forgot password button */
}

button:hover {
    opacity: 0.9;
    /* Reduce opacity on hover for visual feedback */
}

/* Extra links */
.extra-links {
    text-align: center;
    margin-top: 10px;
    /* Add margin at the top */
}

.extra-links a {
    color: #007bff;
    text-decoration: none;
}

.extra-links a:hover {
    text-decoration: underline;
}

/* Consent Checkboxes */
input[type="checkbox"] {
    margin: 10px 0;
    
    /* Add some margin to the top and bottom of each checkbox */
}

label {
    margin-left: 5px;
    font-size: 14px;
    /* Add some margin to the left of each label */
}

label a {
    color: #007bff;
    text-decoration: none;
    /* Style the links in the labels */
}

label a:hover {
    text-decoration: underline;
    /* Add underline on hover to the links in the labels */
}

.welcome-section, #registration-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.welcome-section h1 {
    color: #333;
    text-align: center;
}

.welcome-section p {
    color: #007bff;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}

.welcome-section ul {
    list-style-type: disc;
    padding-left: 20px;
}

.welcome-section ul li {
    margin: 10px 0;
    color: #555;
    line-height: 1.6;
    list-style: none;
}

.welcome-section a {
    color: #007BFF;
    text-decoration: none;
}

.welcome-section a:hover {
    text-decoration: underline;
}

header {
    margin-bottom: 20px !important;
}

header * {
    display: none !important;
}

/* footer{
    position: relative !important;
    margin-top: 50px;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    /* center columns */
    justify-content: center;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

#intro_column {
    flex: 0 0 auto;
    width: 60%;
    max-width: 60%;
}
  
#form_column {
    flex: 0 0 auto;
    width: 30%;
    max-width: 30%;
<<<<<<< Updated upstream
    margin-bottom: 15%;
}

@media (max-width: 768px) {
    #intro_column {
        width: 90%;
        max-width: 100%;
    }
  
=======
}

@media screen and (max-width: 768px) {
    #intro_column {
        width: 100%;
        max-width: 100%;
    }
>>>>>>> Stashed changes
    #form_column {
        width: 100%;
        max-width: 100%;
    }
}